.weather-description {
  min-width: 64px;
  padding-top: 70px;
  font-size: 25px;
  font-weight: 500;
  background: url('../../img/weather.png') no-repeat top left / 64px;
}

.weather-description__overcast {
  background-image: url('../../img/overcast.png');
}

.weather-description__clear {
  background-image: url('../../img/clear.png');
}

.weather-description__sunny {
  background-image: url('../../img/sunny.png');
}

.weather-description__light-rain {
  background-image: url('../../img/light-rain.png');
}

.weather-description__light-rain-shower {
  background-image: url('../../img/light-rain-shower.png');
}

.weather-description__light-rain-shower_night {
  background-image: url('../../img/light-rain-shower_night.png');
}

.weather-description__partly-cloudy {
  background-image: url('../../img/partly-cloudy.png');
}

.weather-description__partly-cloudy_night {
  background-image: url('../../img/partly-cloudy_night.png');
}

.weather-description__haze {
  background-image: url('../../img/haze.png');
}

.weather-description__widespread-dust {
  background-image: url('../../img/widespread-dust.png');
}
