.main {
  padding: 18px;
  color: #ffffff;
  background: url('../../img/backNight.svg') no-repeat top / 100%;
}

.main__day {
  background-image: url('../../img/backDay.svg');
}

.main h1 {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 28px;
}

.city-name {
  background-color: #8781c5;
  border-radius: 8px;
  padding: 1px 8px;
  cursor: pointer;
  font-weight: 700;
  font-size: 35px;
}

.main-properties {
  display: flex;
  justify-content: space-between;
  margin-bottom: 68px;
}

.weather-description {
  padding-top: 70px;
  font-size: 25px;
  font-weight: 500;
}

.temperature {
  font-size: 53px;
  font-weight: 500;
}

.properties {
  color: #000000;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
  padding-left: 50px;
}
